<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>grid</title>
	<link rel="stylesheet" href="css/kendo.common.min.css" />
    <link rel="stylesheet" href="css/kendo.default.min.css" />
    <link rel="stylesheet" href="css/kendo.default.mobile.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/iview@2.8.0/dist/styles/iview.css">

	<script src="js/jquery.min.js"></script>
	<script src="js/kendo.all.min.js"></script>
	<script src="js/kendo.all.min.js"></script>
    
    <script src="js/vue.js"></script>
    <!--	引入jszip.js才能支持导出	-->
    <script type="text/javascript" src="js/jszip.min.js" ></script>


<!-- import iView -->
<script src="https://unpkg.com/iview@2.8.0/dist/iview.min.js"></script>
<script src="js/products.js"></script>
</head>
<body>
	<div id="example">
		<!--	右侧的表单	-->
		<transition name='fade'>
			<div class="myForm" style="display: none;">
				<div class="closeTab">
					<!--  最上面关闭那一栏	-->
					<div class="closeIcon" title="关闭" @click='hide'>
						<i class="ivu-icon ivu-icon-close" style="font-size: 12px;color:#284e8d;line-height: 24px;"></i>
					</div>
				</div>
				<!--	下面是li列表,让用户输入	-->
					<div style="float: left;margin-top:40px; ">
						<ul>
							<li class="li0">身份证号:
								<input type="text" v-model='idNumber' placeholder="输入身份证号" style="width: 150px;outline: none;">
							</li>
							<!--  	性别 select选择框	-->
							<li class="li1">
								性别:
								<select v-model='gender' style="margin-left: 23px;">
									<option value="" selected="true" disabled="true">请选择</option>
									<option>男</option>
								 	<option>女</option>
								</select>
							</li>
							<!--	ip地址	-->
							<li class="li2">
								ip地址:
								<input type="text" v-model='ipAddress' placeholder="输入ip地址" style="margin-left: 10px;">
							</li>

							<!--	所属派出所	-->
							<li class="li3">
								所属地:
								<select v-model='belong' style="margin-left: 10px;">
									<option value="" selected="true" disabled="true">请选择</option>
									<option>西约派出所</option>
								 	<option>东城派出所</option>
								 	<option>南海区公安局</option>
								</select>
							</li>
						</ul>
					</div>

						<!--	一个box用来重置与提交表单	-->
							<div class="submitForm">
								<!--  重置按钮	-->
								<div class="reset" @click='ResetVal'>重置</div>

								<!--  提交按钮	-->
								<div class="submit" @click='SubmitVal'>提交</div>
							</div>
			</div>
		</transition>
			<div class="bar">
				<div class="menau">
					<!--	添加按钮,可以添加	-->
					<div class="add" @click='addMes' title="添加">
						<i class="ivu-icon ivu-icon-plus-circled" style="font-size: 18px;color:#284e8d;line-height: 30px;"></i>
					</div>
					<!--  导入按钮	-->
					<div class="importFile" @click='importData' title="导入">
						<i class="ivu-icon ivu-icon-ios-cloud-download" style="font-size: 18px;color:#284e8d;line-height: 32px;"></i>
					</div>
					<!--  导出	-->
					<div class="exportExcel" @click='exportRes' title="导出">
						<i class="ivu-icon ivu-icon-ios-cloud-upload" style="font-size: 18px;color:#284e8d;line-height: 31px;"></i>
					</div>
				</div>
			</div>
            <div id="grid" data-bind="source:products"></div>
	</div>

<script>

var app=new Vue({
	el:'#example',
	data:{
		data:products,
		idNumber:'',
		gender:'',
		ipAddress:'',
		belong:''
	},
	created(){
		//console.log(this.data);


var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/Products",
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: crudServiceBaseUrl + "/Products/Update",
                                    dataType: "jsonp"
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/Products/Destroy",
                                    dataType: "jsonp"
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/Products/Create",
                                    dataType: "jsonp"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "ProductID",
                                    fields: {
                                        ProductID: { editable: false, nullable: true },
                                        ProductName: { validation: { required: true } },
                                        UnitPrice: { type: "number", validation: { required: true, min: 1} },
                                        Discontinued: { type: "boolean" },
                                        UnitsInStock: { type: "number", validation: { min: 0, required: true } }
                                    }
                                }
                            }
                        });
		// created钩子,新增、删除、编辑、读取原始数据到此结束
	},
	methods:{
		hide(){
			//this.togg=!this.togg;
			//alert('ghjkjh');
			$(".myForm").animate({right:'-250px'},400);
		},

		// 重置表单
		ResetVal(){
			this.idNumber='';
			this.gender='';
			this.ipAddress='';
			this.belong='';
		},


		// 提交表单
		SubmitVal(){
			console.log(this.idNumber,this.gender);
			// remove掉
 			 
		this.data.unshift({
				    ProductID : 1,
				    PersonId : this.idNumber,
				    SupplierID : 1,
				    CategoryID : 1,
				    QuantityPerUnit : "10 boxes x 20 bags",
				    Sex : this.gender,
				    ip : this.ipAddress,
				    UnitsOnOrder : 0,
				    ReorderLevel : 10,
				    location : this.belong,
				    Category : {
				        CategoryID : 1,
				        CategoryName : "Beverages",
				        Description : "Soft drinks, coffees, teas, beers, and ales"
				    }
		});
			 $("#grid").remove();
 			 // $("#example").append($('<div id="grid" data-bind="source:products"></div>'))
 			 $('.bar').after($('<div id="grid" data-bind="source:products"></div>'))

		$("#grid").kendoGrid({
                dataSource: {
                    data: this.data,
                        schema: {
                            model: {
                                fields: {
                                    ProductName: { type: "string" },
                                    UnitPrice: { type: "string" },
                                    UnitsInStock: { type: "string" },
                                    Discontinued: { type: "string" }
                                }
                            }
                        },
                        pageSize: 20
                },
                height: 550,
                scrollable: true,
                sortable: false,
                filterable: false,
                pageable: {
                    refresh:false,
                    buttonCount:5,
                    pageSize:20,
                    pageSizes: true,
                    numeric: true
                 },
                columns: [
                    { field: "PersonId", title: "身份证号", width: "130px"},
                    { field: "Sex", title: "性别", width: "130px" },
                    { field: "ip", title: "ip地址", width: "130px" },
                    { field: "location",title: "所属地", width: "130px" },
                    { command: ["edit","destroy"], title: "&nbsp;", width: "150px" }
                ],
                editable: "inline"
        });


			// 绑定数据源
//         	var listSource=new kendo.data.DataSource({
//                 data:this.data
//              })


// 			var viewModel=kendo.observable({
// 			  	products:listSource
// 			});

// // 
// 			//console.log(viewModel);
// 			//console.log(products);
// 			kendo.bind($("#grid"),viewModel);

			// 提交后表单全部清空

			this.idNumber='';
			this.gender='';
			this.ipAddress='';
			this.belong='';

			$(".myForm").animate({right:'-250px'},400);

// remove 之后再重新显示

// $("#grid").kendoGrid({
//                 dataSource: {
//                     data: this.data,
//                         schema: {
//                             model: {
//                                 fields: {
//                                     ProductName: { type: "string" },
//                                     UnitPrice: { type: "string" },
//                                     UnitsInStock: { type: "string" },
//                                     Discontinued: { type: "string" }
//                                 }
//                             }
//                         },
//                         pageSize: 20
//                 },
//                 height: 550,
//                 scrollable: true,
//                 sortable: false,
//                 filterable: false,
//                 pageable: {
//                     refresh:false,
//                     buttonCount:5,
//                     pageSize:20,
//                     pageSizes: true,
//                     numeric: true
//                  },
//                 columns: [
//                     { field: "PersonId", title: "身份证号", width: "130px"},
//                     { field: "Sex", title: "性别", width: "130px" },
//                     { field: "ip", title: "ip地址", width: "130px" },
//                     { field: "location",title: "所属地", width: "130px" },
//                     { command: ["destroy"], title: "&nbsp;", width: "50px" }
//                 ], 
//                 editable: "inline"
//         });

			
		},

		// 添加数据
		addMes(){
			// jQuery动画
			//this.togg=true;
    			$(".myForm").animate({right:'50px'},400);

    			// 消除刚开始加载进来,网速慢的时候页面混乱
  				$('.myForm').css('display','block');
			
		},
		// 导入 excel表格
		importData(){

		},
		// 导出excel表格下载到本地
		exportRes(){
			//alert('正在尝试导出。。。');
          	var grid=$('#grid').data("kendoGrid");
          	//console.log(grid._data);
         	var excel={};
          	$.extend(excel,grid);
          	$.each(excel._data,function(i,item){});
          	excel.saveAsExcel();
		}
	},
	mounted(){
		//this.bug=true;
		$("#grid").kendoGrid({
                dataSource: {
                    data: this.data,
                        schema: {
                            model: {
                                fields: {
                                    ProductName: { type: "string" },
                                    UnitPrice: { type: "string" },
                                    UnitsInStock: { type: "string" },
                                    Discontinued: { type: "string" }
                                }
                            }
                        },
                        pageSize: 20
                },
                height: 550,
                scrollable: true,
                sortable: false,
                filterable: false,
                pageable: {
                    refresh:false,
                    buttonCount:5,
                    pageSize:20,
                    pageSizes: true,
                    numeric: true
                 },
                columns: [
                    { field: "PersonId", title: "身份证号", width: "130px"},
                    { field: "Sex", title: "性别", width: "130px" },
                    { field: "ip", title: "ip地址", width: "130px" },
                    { field: "location",title: "所属地", width: "130px" },
                    { command: ["edit","destroy"], title: "&nbsp;", width: "150px" }
                ], 
                editable: "inline"
        });




	}
})
</script>

<style type="text/css">
.bar{
	width: 100%;
	height: 30px;
	margin-bottom: 2px;
	/*border: 1px solid gray;*/
}

.menau{
	width: 10%;
	height: 30px;
	float: right;
	/*border: 1px solid gray;*/
}

/*	 添加新数据	*/
.add{
	width: 20px;
	height: 30px;
	float: left;
	cursor: pointer;
	/*border: 1px solid gray;*/
}

/*	 导入	*/
.importFile{
	width: 20px;
	height: 30px;
	float: left;
	margin-left: 22px;
	cursor: pointer;
	/*border: 1px solid gray;*/
}


.exportExcel{
	width: 20px;
	height: 30px;
	float: left;
	margin-left: 22px;
	cursor: pointer;
}

/*	 右侧的表单让用户填写	*/
.myForm{
	width: 240px;
	height: 400px;
	right: -250px;
	top: 52px;
	position: absolute;
	z-index: 9999;
	background: #f1f1f1;
	border: 1px solid #d7d7d7;
}

/*	 点击x关闭页面	*/
.closeTab{
	width: 100%;
	height: 24px;
	float: left;
	/*border: 1px solid #d7d7d7;*/
}

.closeIcon{
	width: 14px;
	height: 24px;
	float: right;
	cursor: pointer;
	/*border: 1px solid #d7d7d7;*/
}

.li0{
	margin-left:4px;
}

/*	 性别选择	*/
.li1{
	margin-top: 30px;
	margin-left:4px;
}

/*	ip地址让用户填写	*/
.li2{
	margin-top: 30px;
	margin-left:6px;
}

/* 所属公安局 */
.li3{
	margin-top: 30px;
	margin-left:4px;
}


/*	 一个box,用来提交与重置用户 	*/
.submitForm{
	width: 100%;
	height: 30px;
	float: left;
	cursor: pointer;
	/*border: 1px solid gray;*/
	/*margin-top: 100px;*/
	position: absolute;
	bottom: 18px;
}

/*	button 重置	*/
.reset{
	width: 80px;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
	text-align: center;
	float: left;
	cursor: pointer;
	border: 1px solid gray;
}


/*	button 提交	*/
.submit{
	width: 80px;
	height: 30px;
	margin-right: 20px;
	line-height: 30px;
	text-align: center;
	float: right;
	border: 1px solid gray;
}

/*	 transition 过渡效果	*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


/*	 横向不能出滚动条	*/ 
body{
	width: 100%;
	overflow: hidden;
}
</style>
</div>
</body>
</html>
